@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Times New Roman";
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.animation-slide-up {
    animation: slide-up 0.5s ease-in-out;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -90px;
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}